<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{Y-m-d HH:mm:ss} [%thread] %-5level %logger{36} - %msg %n</Pattern>
        </encoder>
    </appender>
    <appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
        <File>marketplace.log</File>
        <encoder>
            <Pattern>%d{Y-m-d HH:mm:ss} [%thread] %-5level %logger{36} - %msg %n</Pattern>
        </encoder>
    </appender>
    <logger name="io.leansoft.atlassian.marketplace.collector" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="fileAppender" />
    </logger>

    <root>
        <level value="INFO" />
        <appender-ref ref="consoleAppender" />
    </root>
</configuration>